/* sånn skriver du kommentar */
body{
    margin: 0;
    background: #A5D6A7;
    font-family: 'Times New Roman', Times, serif;
}

nav{
    position: fixed;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2E7D32;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}

nav p{
    margin-top: 10%;
    font-size: 2vw;
}

nav img{
    width: 30%;
    margin-top: 3%;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
}

#Topical{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
    max-width: 12000px;
    padding: 20px;  
}

#Topical .introduction{
    grid-column: span 2;
    padding: 10px 20px;
}

#Topical .card{
    grid-column: span 3;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.111)
}

#Topical img{
    grid-column: span 3;
    width: 50%;
    border-radius: 10px;
}
footer{
    background-color: #2E7D32;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 13%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
}

#footer1{
    grid-column: span 2;
}

/* Base code below from phind.com, but I´ts edited to make it our own/fit to our page*/
   
   /* Media queries for different screen sizes */
   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav img {
        width: 30%;
    }

    #Topical{
        grid-template-columns: 1fr;
        grid-gap: 0%;
    }

    #Topical .introduction{
        grid-template-rows: 1fr;
    }

    #Topical .card{
        grid-template-rows: 1fr;
    }
    
    nav {
        grid-template-columns: repeat(3, 1fr);
        
    }
 
    nav p{
        font-size: 3vw;
    }
    footer {
        margin-top: 40%;
        grid-gap: 10%;
        /*teste ut mer typ margins etc for å se om det funker i liten*/
    }
 }
 
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* For tablets: */
    nav img {
        width: 35%;
    }

    #Topical{
        grid-template-columns: repeat(2, 1fr);
    }

    #Topical .introduction{
        grid-template-rows: repeat(2, 1fr);
    }

    #Topical .card{
        grid-template-rows: repeat(2, 1fr);
    }

    nav {
        grid-template-columns: repeat(4, 1fr);
    }

    footer {
        margin-top: 15%;
    }
 }
 
 @media only screen and (min-width: 1025px) {
    /* For desktop: */
    nav img {
        width: 37%;
    }

    #Topical{
        grid-template-columns: repeat(2, 1fr);
    }

    #Topical .introduction{
        grid-template-rows: repeat(3, 1fr);
    }

    #Topical .card{
        grid-template-rows: repeat(3, 1fr);
    }

    nav {
        grid-template-columns: repeat(5, 1fr);
    }

 }


/* To make heading big */
h1{
    font-size: 50px;
}

/* To make the headings same size*/
h2, h3, h4{
    font-size: 25px;
}



