/* sånn skriver du kommentar */
body{
    margin: 0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
}

.navbar ul{
    list-style: none;
    background: #663366;
    padding: 0;
    margin: 0;
}

.navbar li{
    display: inline-block;
}