body {
    background-color: #A5D6A7;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    text-align: center; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2E7D32;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}

nav {
    font-size: 2vw;
}

nav img{
    width: 30%;
    margin-top: 3%;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: underline;
    color: #A5D6A7;
}



h1{
    color: beige;
    background-color: rgb(0, 90, 0);

}
.animals{
    background-color: rgb(0, 90, 0);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;    
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  }
  .column img{
    max-width: 50%;
    height: auto;
  }
 
  .row {
    content: "";
    clear: both;
    display: table;
  }
 

article {
    background-color: #004904;
    border: 1px solid #2E7D32;
    border-radius: 32px;
    box-shadow: 0 4px 8px;
    padding: 30px;
    color: beige;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.factbox {
    background-color: white;
    color: rgb(220, 0, 0);
    border: 5px solid rgb(29, 120, 29);
    border-radius: 8px;
    margin-right: 8px;
    box-shadow: 0 16px 32px yellow;
    padding: 2px;
    font-size: 15px;
   text-align: right; 
}
.insekter{
    background-color: #2E7D32;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.insekter img{
    max-width: 25%;
    height: auto auto;
    margin-right: 5px;
    margin-left: 5px;
    box-sizing: border-box;
    display: table;
}
.planter{
    padding: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}
.plantimg{
    width: 300px;
    height: auto auto;
    margin-right: 5px;
    margin-left: 2px;
    box-sizing: border-box;
    border: 5px solid grey;
    display: table;
}

footer {
    background-color: #2E7D32;
}
.footer img {
    max-width: 100%;
}

/* Base code below from phind.com, but I´ts edited to make it our own/fit to our page*/
/*all pages needing media quieries are sorted below*/
   
   /* Media queries for different screen sizes */
   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav img {
        width: 30%;
    }
    nav {
        grid-template-columns: repeat(3, 1fr);
    }
    nav p{
        font-size: 3vw;
    }
 }
 
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* For tablets: */
    nav img {
        width: 35%;
    }
    nav {
        grid-template-columns: repeat(4, 1fr);
    }
 }
 
 @media only screen and (min-width: 1025px) {
    /* For desktop: */
    nav img {
        width: 37%;
    }
    nav {
        grid-template-columns: repeat(5, 1fr);
    }
 }