body{ /* to make the navn bar appear on top*/
    margin: 0;
    background-color: #A5D6A7;
    font-family: Arial, Helvetica, sans-serif;
    
}
/*Shared nav-bar for all pages*/
nav{
    position: fixed;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #2E7D32;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2%;
}

nav p{ /*edit the nav text*/
    margin-top: 10%;
    font-size: 2vw;
}

nav img{ /*edit of the nav image*/
    width: 30%;
    margin-top: 3%;
}

nav a{ /*edit of the nav element*/
    text-decoration: none;
    color: black;
}

nav a:hover{ /*to get the underscore line when hovering over the nav options except the image*/
    text-decoration: underline;
    color: #A5D6A7;
}

/*index main start*/
#index-main{
    padding-top: 10px;
    font-size: 1.5rem;
}

.index-content{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.index-h1 {
    padding: 1rem;
    font-size: 4em;
  }

.index-h2,h3{
    padding: 0,3rem;
    font-size: 2em;
  }
  
.index-p{
    padding:0.5rem;
    font-size: 0.8em;
}/*index main ends*/ 

/*Topical main start*/
#Topical{
    padding-top:150px;
    margin-left:15%;
    margin-right:15%;
}
#Topical .card{ 
    padding: 20px 20px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.111)
}

#Topical img{
  
    border-radius: 50px;
    margin-top: 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

div.picture-text{
    text-align: center;
}

#Topical h1{
    font-size: 2rem;
}

#Topical h2,h3,h4{
    font-size: 1rem;
}/*Topical main end*/

/*accessibility main start*/
#accessibility{
    padding-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
} 

.accessability-p{
    margin-left: 27%;
    margin-right: 27%;
}
#accessibility img{
    border-radius: 5px;
    margin-top: 20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}/*accessability main end*/

/*Cafeteria main*/
#cafeteria{
    padding-top: 100px;
    margin-left: 9%;
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}

#cafeteria img{
    width: 100%;
}


#box1{
    margin-right: 5%;
}

    #box1 h1{
        font-size: 3vw;
    }
    .breadText{
        line-height: 150%;
    }

    .kantineBildeMedTekst p{
        margin-top: 0;
        border-top: 0;
        padding-top: 0;
    }

    .dobbeltBilde{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2%;
        margin-bottom: 5%;
    }

#box2{
    margin-top: 15%;
    margin-bottom: 15%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5%;
}

    .menu{
        border: solid;
        border-radius: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #66BB6A;
    }
    .menu h1{
        text-align: center;
        font-size: 2.2vw;
        grid-column: span 2;
    }

    .menu h4{
        margin-left: 20%;
        margin-right: 5%;
    }

    .menu p{
        margin-left: 20%;
        margin-right: 5%;
    }/*cafeteria main end*/

/*Shared footer for all pages*/
footer{
    background-color: #2E7D32;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 13%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
}

    #footer1{
        grid-column: span 2;
    }


/* Base code below from phind.com, but I´ts edited to make it our own/fit to our page*/
/*all pages needing media quieries are sorted below*/
   
   /* Media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    nav img {
        width: 30%;
    }
    nav {
        grid-template-columns: repeat(3, 1fr);
    }
    nav p{
        font-size: 3vw;
    }
    #cafeteria {
        grid-template-columns: 1fr;
        grid-gap: 0%;
    }
    #cafeteria img {
        width: 100%;
    }
    #box1 h1{
        font-size: 7vw;
    }
    #box2 {
        grid-template-rows: 1fr;
    }
    #Topical{
        grid-template-columns: 1fr;
        grid-gap: 0%;
    }
    #Topical img{
        width: 100%;
    }
    .index-content{
        margin-left: 5%;
        margin-right: 5%;
    }
    #index-main img{
        width: 100%;
    }
    footer {
        margin-top: 40%;
        grid-gap: 10%;
    }
    #footer1 h2{
        font-size: 17px;
    }
 }
 
 @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* For tablets: */
    nav img {
        width: 35%;
    }
    nav {
        grid-template-columns: repeat(4, 1fr);
    }
    #cafeteria {
        grid-template-columns: repeat(2, 1fr);
    }
    #cafeteria img {
        width: 100%;
    }
    #box1 h1{
        font-size: 4vw;
    }
    #box2 {
        grid-template-rows: repeat(2, 1fr);
    }
    #Topical{
        grid-template-columns: repeat(2, 1fr);
    }
    #Topical img{
        width: 100%;
    }
    #index-main img{
        width: 100%;
    }
    footer {
        margin-top: 15%;
    }
 }
 
 @media only screen and (min-width: 1025px) {
    /* For desktop: */
    nav img {
        width: 37%;
    }
    nav {
        grid-template-columns: repeat(5, 1fr);
    }
    #cafeteria {
        grid-template-columns: repeat(2, 1fr);
    }
    #cafeteria img {
        width: 100%;
    }
    #box2 {
        grid-template-rows: repeat(3, 1fr);
    }
    #Topical{
        grid-template-columns: repeat(2, 1fr);
    }
    #Topical img{
        width: 50%;
    }
    #index-main img{
        width: 100%;
    }
 }