html,body{
    background-color: rgb(30, 30, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: azure;
    margin-left: 0px;
    
}

nav{
    background-color: rgb(50, 100, 130);
    padding: 20px;
    margin-top: 0%;
    position: fixed;
    width: 100%;
    height: 1,2rem;
}
.nav-text{
    text-decoration:solid;
    color:azure;
    padding: 10px;
}
.nav-text:hover{
    background-color: darkgray;
    padding: 1rem;
}
h1{
    font-size: 55px;
}

h2,h3{
    font-size: 30px;

}
p{
    font-size: 1.2rem;
}
footer{
    
    margin-left: 0px;
}


.wrapper{
    display: grid;
    grid-template-columns: minmax(20px, 100px) repeat(10,1fr) 100px;
    grid-auto-rows: minmax(80px, auto);
    margin-left: 0cap;
}
.nav{
    grid-column: 1/13;
    grid-row: 1;
    background-color: #48455f;
}
    .logo{
        grid-column: 1;
        grid-row: 1;
    }
.main-box{
    grid-column: 3/8;
    grid-row: 2;
}
.aside{
    grid-column: 8/11;
    grid-row: 2;
}
.footer{
    grid-column: 1/13;
    grid-row: 3/7;
    background-color: #9d73c5;
}

#logo{
    width: 90px;
    padding-top: 20px;
    padding-left: 15px;
}

#banner-img-p32{
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;

}

div.introduction { /*article css from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/article */
    margin: 5%;
    padding: 0.3rem;
    background-color: #eee;
  }
  
div.introduction > h1,
  .intro-content {
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
  
  div.intro-content > h2,
  .intro-content > p {
    margin: 0.2rem;
    font-size: 1rem;
  }
  