body{
    margin: 0px;
    border-width: 8px;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 16px;
}

footer{
    
    margin-left: 0px;
}

h1{
    font-size: 55px;
}

.wrapper{
    display: grid;
    grid-template-columns: minmax(20px, 100px) repeat(10,1fr) 100px;
    grid-auto-rows: minmax(80px, auto);
    margin-left: 0cap;
}
.nav{
    grid-column: 1/13;
    grid-row: 1;
    background-color: #ff8404;
}
    .logo{
        grid-column: 1;
        grid-row: 1;
    }
.main-box{
    grid-column: 3/8;
    grid-row: 2;
}
.aside{
    grid-column: 8/11;
    grid-row: 2;
}
.footer{
    grid-column: 1/13;
    grid-row: 3/7;
    background-color: #ff8404;
}

#logo{
    width: 90px;
    padding-top: 20px;
    padding-left: 15px;
}
