body {
    background-color: var(--color-body);
}
h1, h2, h3, h4, p {
    color: var(--color-font-primary);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;

}

code {
    color: var(--color-font-auxillary);
}

:root {
    --color-body: ;
    --color-font-primary: #000000;
    --color-font-secondary: 
    --color-font-auxillary: #333333;
    
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-body:
        --color-font-primary:
        --color-font-secondary:
        --color-font-auxillary:
    }
}